*{
    margin:0px;
    padding:0px;
}

/*Background body Start*/

#signUpMain-background{
    width:100%;
    height:700px;
    background-image:url(../images/background-mainSignUp1.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    float:left;
}

#signUpMain-background1{
    width:1200px;
    height:700px;
    margin:auto;
    /*background:red;*/
}

#customer-signUp{
    width:300px;
    height:200px;
    background-image:url(../images/white.png);
    border-radius:20px;
    float:left;
    margin-left:200px;
    margin-top:100px;
    text-align:center;
    color: #2c5383;
}

.customer-login, .admin-login{
    width:auto;
    height:auto;
    font-family:Lato Black;
    font-size:50px;
    padding:30px;
}

#admin-signUp{
    width:300px;
    height:200px;
    background-image:url(../images/white.png);
    border-radius:20px;
    float:left;
    margin-left:200px;
    margin-top:100px;
    text-align:center;
    color: #2c5383;
}

#link{
    color:black;
    text-decoration: none;
}

#customer-signUp:hover, #admin-signUp:hover{
    background-image:url(../images/black.png);
    color:white;
}

/*Background body end*/

/*Footer Start*/

#footer{
    width:100%;
    height:420px;
    background: #16214a;
    float:left;
}

#footer1{
    width:1200px;
    height:420px;
    margin:auto;
}

#facts{
    width:500px;
    height:300px;
}

#company-address{
    width:500px;
    height:180px;
    text-align:center;
    font-size:20px;
    margin-top:20px;
    margin-left:350px;
    font-family: "Corbel Light";
    color: lightcyan;
    float:left;
}

#logo1{
    width:90px;
    height:80px;
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-left:550px;
    margin-top:20px;
    float:left;
}

#social{
    width:500px;
    height:65px;
    margin-top:55px;
    margin-left:440px;
    float:left;
    /* background-color: red; */
}

#youtube{
    width:40px;
    height:40px;
    margin-top: 10px;
    float:left;
    background-image: url("../images/youtube.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#facebook{
    width:50px;
    height:40px;
    float:left;
    margin-left:30px;
    margin-top:10px;
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#pinterest{
    width:43px;
    height:43px;
    float:left;
    margin-left:20px;
    margin-top:10px;
    background-image: url("../images/pinterest.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#twitter{
    width:40px;
    height:40px;
    float:left;
    margin-left:20px;
    margin-top:10px;
    background-image: url("../images/twitter.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#instagram{
    width:50px;
    height:50px;
    float:left;
    margin-left:20px;
    margin-top:5px;
    background-image: url("../images/instagram.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/*Footer End*/
